
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* CSS Variables */
:root {
    /* Font Family variables */
    --font-roboto: "Roboto", cursive;
    --font-abel: 'Abel', cursive;
    --font-lexend: 'Lexend', cursive;
    --font-archivo: "Archivo_Narrow", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-sourceSansPro: 'SourceSansPro', sans-serif;
}